// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-blue: #18c9ec;
	--ion-color-blue-rgb: 24,201,236;
	--ion-color-blue-contrast: #000000;
	--ion-color-blue-contrast-rgb: 0,0,0;
	--ion-color-blue-shade: #15b1d0;
	--ion-color-blue-tint: #2fceee;
}

.ion-color-blue {
	--ion-color-base: var(--ion-color-blue);
	--ion-color-base-rgb: var(--ion-color-blue-rgb);
	--ion-color-contrast: var(--ion-color-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-shade);
	--ion-color-tint: var(--ion-color-blue-tint);
}